.app {
  background-image: url("./img/tree-832079.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  color: #000;
}

.bgc-overlay {
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;
}
